<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.flowgrid.android.swt.flowgrid">

    <application android:theme="@style/FlowGridTheme"
                 android:label="FlowGrid (SWT)">
        <activity android:name="org.flowgrid.android.swt.MainActivity"
                  android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>